<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Blog index')"/>
<body>

<!--<nav th:replace="fragments :: my-navbar"/>-->

<body class="container indigo">

    <div class="row header-row">
        <div class="col s12">
            <h1 class="center-align white-text">Hello, My name is Micah.</h1>
            <h4 class="center-align white-text">a software developer</h4>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn-large main-buttons">Portfolio</a>
            <a class="waves-effect waves-light btn-large main-buttons">Resume</a>
            <!--<a class="col s4 waves-effect waves-light btn-large main-buttons">Contact</a>-->
        </div>
    </div>

</body>

<div th:replace="fragments :: scripts"></div>

</body>
</html>
