<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Blog index')"/>

<body class="indigo">
<!--<div class="navbar-fixed">-->
<nav class="z-depth-0 indigo darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Home</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/aboutme">About Me</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

        <!--<ul class="side-nav" id="mobile">-->
        <!--<li><a href="">About Me</a></li>-->
        <!--<li><a href="">Portfolio</a></li>-->
        <!--<li><a href="">Resume</a></li>-->
        <!--<li><a href="">Contact</a></li>-->
        <!--</ul>-->
    </div>
</nav>
<!--</div>-->

<ul class="side-nav" id="mobile">
    <li><a href="/aboutme">About Me</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<!--</div>-->


<div class="container indigo">



    <div class="portfolio-item">
        <h2 class="center-align white-text">Portfolio</h2>
    </div>


    <div class="row portfolio-item">
        <h4 class="center-align white-text">Pet Adoption Application</h4>
        <p class="center-align white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloribus
            ducimus enim error illo, ipsum
            necessitatibus neque, obcaecati perspiciatis, repudiandae sequi sit tenetur ullam. Ad delectus deserunt
            dolores
            enim esse impedit labore nesciunt odio, odit perferendis porro suscipit, ut voluptates.</p>
        <div class="col s12">
            <a href="http://www.furbabyfinder.site"><img class="responsive-img" th:src="@{/img/furbaby.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Simple Simon Game</h4>
        <p class="center-align white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloribus
            ducimus enim error illo, ipsum
            necessitatibus neque, obcaecati perspiciatis, repudiandae sequi sit tenetur ullam. Ad delectus deserunt
            dolores
            enim esse impedit labore nesciunt odio, odit perferendis porro suscipit, ut voluptates.</p>
        <div class="col s12">
            <a href="https://micahdisney.github.io/simple-simon/"><img class="responsive-img"
                                                                       th:src="@{/img/simplesimon.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Custom Wordpress Site</h4>
        <p class="center-align white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloribus
            ducimus enim error illo, ipsum
            necessitatibus neque, obcaecati perspiciatis, repudiandae sequi sit tenetur ullam. Ad delectus deserunt
            dolores
            enim esse impedit labore nesciunt odio, odit perferendis porro suscipit, ut voluptates.</p>
        <div class="col s12">
            <a href="http://www.nv.church"><img class="responsive-img" th:src="@{/img/newvision.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Weather Application</h4>
        <p class="center-align white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloribus
            ducimus enim error illo, ipsum
            necessitatibus neque, obcaecati perspiciatis, repudiandae sequi sit tenetur ullam. Ad delectus deserunt
            dolores
            enim esse impedit labore nesciunt odio, odit perferendis porro suscipit, ut voluptates.</p>
        <div class="col s12">
            <a href="https://micahdisney.github.io/weather-application/"><img class="responsive-img"
                                                                              th:src="@{/img/weathermap.png}"/></a>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>