<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Micah Disney')"/>

<body class="indigo">
<!--<div class="navbar-fixed">-->
<nav class="z-depth-0 indigo darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="large material-icons">home</i></a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <!--<li><a href="/aboutme">About Me</a></li>-->
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/resume">Resume</a></li>
            <!--<li><a href="/contact">Contact</a></li>-->
        </ul>

        <!--<ul class="side-nav" id="mobile">-->
        <!--<li><a href="">About Me</a></li>-->
        <!--<li><a href="">Portfolio</a></li>-->
        <!--<li><a href="">Resume</a></li>-->
        <!--<li><a href="">Contact</a></li>-->
        <!--</ul>-->
    </div>
</nav>
<!--</div>-->

<ul class="side-nav" id="mobile">
    <!--<li><a href="/aboutme">About Me</a></li>-->
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <!--<li><a href="/contact">Contact</a></li>-->
</ul>
<!--</div>-->


<div class="container indigo">


    <!--<div class="portfolio-item">-->
    <!--<h2 class="center-align white-text">Portfolio</h2>-->
    <!--</div>-->


    <div class="row portfolio-item">
        <h4 class="center-align white-text">Pet Adoption Application</h4>
        <p class="center-align white-text">Collaborative Java and Spring based web application that provides users
            ability to search for and adopt pets, as well as allow business owners to manage site without need for
            developer.</p>
        <div class="col s12">
            <a href="http://www.furbabyfinder.site" target="_blank"><img class="responsive-img"
                                                                         th:src="@{/img/furbaby.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Simple Simon Game</h4>
        <p class="center-align white-text">Memory game built using JavaScript, jQuery, HTML and CSS. This game consists
            of four squares that randomly blink and continue
            to add one sequence at the end of each round.</p>
        <div class="col s12">
            <a href="https://micahdisney.github.io/simple-simon/" target="_blank"><img class="responsive-img"
                                                                                       th:src="@{/img/simplesimon.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Wordpress Site</h4>
        <p class="center-align white-text">Customized and styled WordPress site for local nonprofit, nv.church, and
            provided administrative training for organization owner.</p>
        <div class="col s12">
            <a href="http://www.nv.church" target="_blank"><img class="responsive-img" th:src="@{/img/newvision.png}"/></a>
        </div>
    </div>

    <div class="row portfolio-item">
        <h4 class="center-align white-text">Weather Application</h4>
        <p class="center-align white-text">Interactive weather map that displays a 3 day forecast using AJAX requests
            sent to GoogleMaps and openweathermap.org APIs. User can drag and drop pin on map to retrieve forecast for
            desired location.</p>
        <div class="col s12">
            <a href="https://micahdisney.github.io/weather-application/" target="_blank"><img class="responsive-img"
                                                                                              th:src="@{/img/weathermap.png}"/></a>
        </div>
    </div>

</div>

<div class="indigo darken-4">
    <div class="row footer-row center-align white-text indigo darken-4">
        <div class="footer">Micah Disney</div>
        <div class="footer">micah.n.disney@gmail.com</div>
        <div class="footer">254-715-2502</div>
        <a href="https://github.com/micahdisney"><i class="fa fa-github small" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/micahdisney/"><i class="fa fa-linkedin small" aria-hidden="true"></i></a>
        <a href="mailto:micah.n.disney@gmail.com"><i class="fa fa-envelope small" aria-hidden="true"></i></a>
    </div>
</div>


<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>