<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="index.html">Welcome</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-photo">
    <img src="http://placehold.it/350x100" class="img-responsive" style="width:100%" alt="Image">
</div>

<div class="container text-center">
    <div class="row-fluid">
        <div class="container">
            <div class="row flex">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pet Adoption Application</div>
                        <div class="panel-body">
                            Collaborative Java and Spring based web application that provides users ability to
                            search for and adopt pets, as well as allow business owners to man- age site without
                            need for developer.
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Simple Simon Game</div>
                        <div class="panel-body">
                            Memory game built using JavaScript, jQuery, HTML and CSS. This game consists of four
                            squares that ran- domly blink and continue
                            to add one sequence at the end of each round.
                        </div>
                    </div>
                </div><!--/col-->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Custom Wordpress Site</div>
                        <div class="panel-body">
                            Built and styled WordPress site for local nonprofit, nv.church, and provided
                            administrative training for organization owner.
                        </div>
                    </div>
                </div><!--/col-->
            </div>
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script></body>
</html>