<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Micah Disney')"/>

<body class="indigo">
<!--<div class="navbar-fixed">-->
<nav class="z-depth-0 indigo darken-2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="large material-icons">home</i></a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <!--<li><a href="/aboutme">About Me</a></li>-->
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/resume">Resume</a></li>
            <!--<li><a href="/contact">Contact</a></li>-->
        </ul>

        <!--<ul class="side-nav" id="mobile">-->
        <!--<li><a href="">About Me</a></li>-->
        <!--<li><a href="">Portfolio</a></li>-->
        <!--<li><a href="">Resume</a></li>-->
        <!--<li><a href="">Contact</a></li>-->
        <!--</ul>-->
    </div>
</nav>
<!--</div>-->

<ul class="side-nav" id="mobile">
    <!--<li><a href="/aboutme">About Me</a></li>-->
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/resume">Resume</a></li>
    <!--<li><a href="/contact">Contact</a></li>-->
</ul>

<div class="container indigo">


    <div class="col s12">
        <iframe th:src="@{https://drive.google.com/file/d/0BykKrssZts4lNFlsWEJWR0tOR1k/preview}" width="100%" height="1150px" overflow="hidden"></iframe>
        <!--<embed th:src="@{/img/disney_resume.pdf}" width="100%" height="1150px"/>-->
    </div>



    </div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="/js/index.js"></script>

</body>
</html>